* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: josefin sans, sans-serif;
}
/* .ard{
    margin: 5px;
    padding: 10px;
    font-size: 10px;
}
.add{
    color: rgb(204, 71, 23);
} 
.box{
    background-color: aliceblue;
    width: 250px;
    height: 600px;
    padding: 20px;
    margin: 10px;
} */

.box{ 
    /* display: grid; */
    width: 150px;
    height: 150px;
} 

.box-red{
    background: red;
    z-index: 2;  
}

.box-blue{
    background: blue;
    position: relative;
    z-index: 2;
}

.box-pink{
    background: pink;
    position: relative;
    bottom: 50px;

}




.container{ 
    width: 100%;
    height: 600px;
    background-color: whitesmoke;
    position: relative;
} 

.con{
    width: 150px;
    height: 150px;
    position: absolute;
} 

.con-red{
    background: red;
    z-index: 1;  
}

.con-blue{
    background: blue;
    left: 40px;
    top: 40px;
    z-index: 2;
}

.con-pink{
    background: pink;
    left: 90px;
    top: 85px;
    z-index: 3;

}




