body{
    background-image: url("../graham-holtshausen-fUnfEz3VLv4-unsplash.jpg");
    background-size: cover;
}

h1{
    color: White;
    font-family: sans-serif ;
    font-size: 10px;
}
.register{
    background-color: green  ;
    
}

.style{
    display:flex;
    align-items: center ;
    /* justify-content: space-around; */
}

.navlink{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 10px;

}
.navcon{
    margin-inline: auto;
}

.align{
    display: inline-block;
    width: 40%;
    margin-top: 80px;
    
}
h2{
    color: green;
    font-family: sans-serif;
    font-size: 10px;

}
h3{
    color: white;

}

h4{
    color: white;
    font-size: 10px;
}
/*.div{
    background-color: white;
    display: flex;
    width: 30;
    height: 30px;
    border-radius: 2px;

}*/