*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    width: 95%;
    margin-inline: ayto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}

.container{
    background-color: #444;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    height: 900px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    /*gap:10px 50px;*/
    row-gap: 10px;
    column-gap: 50px;
    /*width: 1000px;
    height: 1000px;
    padding: 10px;

    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;*/
}

.item{
   /* padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 18px;*/
}
.item--1{
    background-color: orangered;
    grid-column: 1  / span3;
    /*grid-column: 1/ 4;*/
    /*grid-column-start: 1;
    grid-column-end:4 ;*/
    /*grid-column: 2 / 3;
    grid-row: 2 / 3;*/
    grid-column: 1 / -1; 
    grid-row: 1 / 2;
}
.item--2{
    background-color: blueviolet;
    grid-row: 2 / 4;
}
.item--3{
    background-color: blue;
    /*grid-column: 2/4;*/
}
.item--4{
    background-color: aqua;
    grid-column: 2 / 3;
}
.item--5{
    background-color: plum;
    grid-column: 1 / -1;
}
.item--6{
    background-color: rgb(108, 151, 108);
}



