*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    height: 100px;
    width: 900px;
}
.name {
    font-size: 35px;
    text-align: center;
    line-height: calc(900px / 8);
    vertical-align: middle;
}
.name--1{
    background-color: rgb(82, 82, 126);
}
.name--2{
background-color: black;
color: white;
}