*{
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
    
    
}

.con{
    background-color: white;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    height: 80px;
    width: 420px;
}
.name--1{
    background-color: aqua;
    border-bottom: solid;
    border-left: solid;
}
.name--2{
    background-color: yellow;
}
.name--3{
    background-color: aquamarine;
}
.name--4{
    background-color: bisque;
}
