*{
    padding: 0px;
    margin-inline: 0;
    box-sizing: border-box;
    font-size: 15px;
}

@font-face {
    font-family: "ahneeka";
    src: url(./fonts/QuickKissPersonalUse-PxlZ.ttf);
}

body {
    font-family: "ahneeka", sans-serif;
}

.head{
    /* font-family: ; */
    font-weight: 400;
    font-size: 7rem;
}
