body{
    background-color: rgb(72, 41, 102);
    margin: 0;
}

.box{
    background-color: rgb(26, 24, 67);
    
}


h1{
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    
}

.style{
    display: flex;
    align-items: center;
}
.navlink{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 10px;
    
}
.navcon{
    margin-inline: auto;
}

.link{
    font-size: 8px;
    background-color: brown;
    color: white;
    border: 0;
    padding: 8px;
}

.lin{
    font-size: 8px;
    background-color: rgb(26, 24, 67);
    border: 0;
    color: white;
    padding: 8px;
}

   
.register{
    background-color: brown;
    font-size: 10px;
    color: white;
    display: inline-block;
    border-radius: 10%; 
    padding: 5px;
    

}

.developer{
    color: white;
    font-size: 10px;
    flex: 1;
    
}
.dev{
    font-size: 30px;
    display: block;
    margin-top: 20px;
}
.circle{
    height: 180px;
    width: 180px;
    background-color: brown;
    border-radius: 100px;
    display: inline-block;
    opacity: calc(40%);

}

.cir{
    display: flex;
    margin-top: 80px;
    width: 80%;
    margin-inline: auto;
}
.round{
    height: 150px;
    width: 150px;
    background-color: brown;
    border-radius: 100px;
    display: inline-block;
    opacity: calc(30%);
    position: absolute;
    left: 0;
    top: 50px;

}

.shadow{
    position: relative;
    flex: 1;

}